@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        /*color-scheme: light dark;*/
        /*color: rgba(255, 255, 255, 0.87);*/
        /*background-color: #242424;*/

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number]{
        -moz-appearance: textfield;
    }
}

@layer components {
    a {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
    }
    a:hover {
        color: #535bf2;
    }

    body {
        margin: 0;
        display: flex;
        place-items: center;
        min-width: 320px;
        min-height: 100vh;
    }

    h1 {
        font-size: 2.2em;
        line-height: 1.1;
    }

    button {
        border: 1px solid transparent;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s;
    }
    button:hover {
        border-color: #646cff;
    }
    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    code {
        background-color: #1a1a1a;
        padding: 2px 4px;
        margin: 0 4px;
        border-radius: 4px;
    }

    .adaptive-flex {
        @apply
        flex md:flex-row flex-col
    }
    form input {
        @apply
        bordered rounded-sm
    }
}

@layer components {
    .centered {
        @apply
        flex items-center justify-center
    }
    .bordered {
        @apply
        border-gray-300 border-[1px]
    }
    #root {
        @apply
        h-screen w-screen centered
    }
    .App {
        @apply
        flex justify-start items-start flex-col w-full h-full relative
    }
    .steps-container {
        @apply
        w-full flex justify-start items-start gap-2 flex-col px-2
    }
    .simplex-step-view {
        @apply
        flex lg:flex-row flex-col gap-2 w-full relative bordered rounded-md shadow-md
    }
    .change-element-block {
        @apply
        flex justify-end items-end flex-col
    }
    .simplex-step-view .change-element-block {
        @apply
        hidden
    }
    .simplex-step-view:hover .change-element-block {
        @apply
        flex
    }
    .simplex-step-number-block {
        @apply
        centered font-bold text-[1.2rem] text-white rounded-md p-2 bg-gray-500
        h-8 w-8
    }
    .steps-container:hover {
        @apply
        bg-gray-100/80 duration-200 transition-all
    }
    .menu-item {
        @apply
        text-sm bg-gray-200 text-gray-600 py-0.5 px-2 flex flex-row
        gap-2 bordered justify-start items-center w-44 rounded-none
    }
    .menu-item:not(:last-child) {
        @apply
        border-r-[1px] border-r-gray-400
    }
    .simplex-matrix-table {
        @apply
        w-max flex flex-row gap-2
    }
    .simplex-matrix-table td {
        @apply
        h-10 w-16 max-h-[2.5rem] min-w-[4rem] border-[1px] border-gray-300 hover:bg-gray-300/50
        px-0.5 text-center font-bold
    }
    .simplex-matrix-table td.titled-cell {
        @apply
        bg-gray-200/80
    }
    .simplex-matrix-table input[type="number"] {
        @apply
        flex h-8 w-14 bg-transparent text-center
    }
    .tab-element {
        @apply
        centered text-base px-2 py-0.5 flex-row gap-1 border-t-[1px]
        border-t-gray-300 border-x-[1px] border-x-gray-300
    }
    .tab-element:first-child {
        @apply
        rounded-tl-md ml-1
    }
    .tab-element:last-child {
        @apply
        rounded-tr-md
    }
    .constraints-menu-panel {
        @apply
        m-1 p-2 rounded-xl border-[1px] border-gray-300 shadow-md w-full flex
        flex-col gap-2
    }
    .step-additional-content {
        @apply
        flex flex-col gap-1
    }
    .step-additional-content p {
        @apply
        text-xl
    }
    .step-additional-content li {
        @apply
        text-gray-500
    }
    .graphical-elements-info-block {
        @apply
        flex flex-col gap-2
    }
    .graphical-elements-info-block span {
        @apply
        text-right
    }
}

/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        color: #213547;*/
/*        background-color: #ffffff;*/
/*    }*/
/*    a:hover {*/
/*        color: #747bff;*/
/*    }*/
/*    button {*/
/*        background-color: #f9f9f9;*/
/*    }*/
/*    code {*/
/*        background-color: #f9f9f9;*/
/*    }*/
/*}*/
